<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Update the Book</div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="_id">ISBN:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="_id" readonly value="{{book._id}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" value="{{book.title}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="authors">Author(s):</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="authors" value="{{join book.authors}}">
                <p>Seperate multiple authors with comma (,)</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="publisher">Publisher:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="publisher" value="{{book.publisher}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="cat">Category:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cat" value="{{book.cat}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="price">Price:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="price" value="{{book.price}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pages_i">Pages:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pages_i" value="{{book.pages_i}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox" id="inStock" value="{{book.inStock}}">In Stock?</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" id="add-update-button">Update</button>
            </div>
        </div>
    </form>
</div>